@page "/updateProfile"
@using System.Text.Json;
@inherits UpdateProfileBase

<div id="edit-profile">
    <div id="main">
        <div class="text-center" id="profile-image">
            <img src=@imagePath alt="...">
        </div>

        <form action="/submit" method="post" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" @bind-value="@updateUser.username" required disabled>
            <label for="profileImage">Profile Image:</label>
            <input type="file" id="profileImage" name="profileImage" accept="image/*" @ref="@elementReference" @onchange="async () => await UploadProfileImage_Click(elementReference)" required>
            

            @* <label for="profileImage"><img width="64" height="64" src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/external-image-multimedia-kiranshastry-lineal-color-kiranshastry-1.png" alt="external-image-multimedia-kiranshastry-lineal-color-kiranshastry-1" /></label>
            <input type="file" id="profileImage" name="profileImage" accept="image/*" @ref="@elementReference" @onchange="async () => await UploadProfileImage_Click(elementReference)" style="display: none;" required>
            *@
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" @bind-value="@updateUser.firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" @bind-value="@updateUser.lastName">

            <input type="submit" value="Update" @onclick:preventDefault=true @onclick="()=>(UpdateUser_Click(updateUser))" />
        </form>
    </div>
</div>
